@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&display=swap');

:root {
    --primary-color: #1d2012;
    --secondary-color: #8eaa46;
    --accent1-color: #b3001b;
    --accent2-color: #3f84c0;
    --accent3-color: #ebedef;

    --heading-font: "Lobster&family";
    --paragraph-font: "Playfair+Display";
    --before-content-mode: "";


    --headline-color-on-white: #1d2012;
    --headline-color-on-color: #ebedef;
    --paragraph-color-on-white: #1d2012;
    --paragraph-color-on-color: #ebedef;
    --paragraph-background-color: #1d2012;
    --nav-link-color: #ebedef;
    --nav-background-color: #3f84c0;
    --nav-hover-link-color: #8eaa46;
    --nav-hover-background-color: #b3001b;

    --base-font-size: 16px;
    --line-height: 1.5;
    --spacing-unit: 8px;
    --padding: var(--spacing-unit);
    --margin: var(--spacing-unit);
    --border-width: 1px;
    --border-radius: 4px;
    --z-index-header: 100;
    --z-index-modal: 200;
    --transition-duration: 0.3s;
    --display-on-items: grid;
    --display-on-content: flex;



}

* body {
    box-sizing: border-box;
    overflow-x: hidden;
    color: #ebedef;
}

html {
    background-color: var(--accent3-color);
    width: 550px;
}

body {
    background-color: var(--headline-color-on-white);
    height: 100vh;
    object-fit: cover;
}

#logoimg img {
    width: 60px;
    height: auto;
    position: absolute;
    left: 0;
    z-index: 1;
}

#logoimg {
    text-align: justify;
}


header {
    display: block;
    width: 80%;
}

header h2 {
    color: #ebedef;
}

header nav li:hover {
    text-decoration: underline;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


.navigation {
    display: none;
    list-style-type: none;
}

nav a {
    color: white;
    text-decoration: none;
}



.zoj {
    margin-top: 2px;
    color: white;
    text-align: center;
    font-size: 1rem;

}

.zoj :hover {
    border: 4px solid white;
    padding: 4px;
}

.zoj a {
    text-decoration: none;
    margin-top: 20px;
}

.zoj h2 {
    color: #ebedef;
    margin-left: -120px;
    font-size: 1.2rem;
}

#mode {
    position: absolute;
    left: 80rem;
    top: 0.2rem;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: black;

}


.mainpage {
    position: absolute;
    grid-column: 2/3;
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: auto;
    overflow-x: hidden;
    margin-right: 160px;
    padding-left: 50px;
    z-index: 1;

}

.mainpage img {
    max-width: 100%;
    height: 50px;
}



#container {
    position: relative;
    display: grid;
    grid-template: 1fr/1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-x: hidden;
}

.sidebar {
    position: fixed;
    grid-column: 1/2;
    grid-row: 1/2;
    position: fixed;
    width: 160px;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 5px;
    overflow-x: hidden;
}

#mainstuff {
    grid-column: 1/3;
    grid-row: 1/2;
    height: 100%;
    left: 0;
    top: 0;
    padding-left: 20px;
    width: 100%;
    margin-left: 160px;
}


.main-container {
    display: grid;
    grid-auto-flow: row;
    grid-template: 1fr 1fr/ 1fr;
    gap: 8px;
    background-color: #3f84c0;


}


.lazyloading {
    grid-column: 1/2;
    grid-row: 1/2;
}


.lazyloading1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

main img {
    width: 100%;
    height: auto;
}

.main-container h2 {
    text-align: center;
}

footer {
    display: block;
    text-align: center;
    margin-left: -230px;
}

footer p {
    font-size: 0.8rem;
}

p#lastUpdated {
    margin-left: -10px;
    font-size: 0.9rem;

}

#currentYear {
    padding-right: 8px;
}


footer p {
    color: white;
    padding: 5px;
    font-family: "Playfair Display";
}

footer img {
    width: 20px;
    height: auto;
}


#lastModified {
    color: white;
    padding-bottom: 10px;
}

main img {
    width: 300px;
    height: auto;

}

main h2 {
    text-align: center;
    width: 300px;
}


.sidebar p {
    font-size: 25px;
}

.sidebar h2 {
    text-decoration: none;
    text-align: center;
}

.sidebar section {
    background-color: blue;
    color: white;
}



@media screen and (min-width: 45em) {
    html {
        width: 100%;
    }

    *body {
        box-sizing: border-box;

    }


    #container {
        position: relative;
        display: grid;
        grid-template: 1fr/1fr 1fr;
        justify-content: center;
        align-items: center;
        height: 100%;
        overflow-x: hidden;
    }

    .sidebar {
        position: fixed;
        grid-column: 1/2;
        grid-row: 1/2;
        position: fixed;
        width: 160px;
        height: 100%;
        left: 0;
        top: 0;
        padding-left: 10px;
        overflow-x: hidden;
    }

    #mainstuff {
        grid-column: 1/3;
        grid-row: 1/2;
        height: 100%;
        left: 0;
        top: 0;
        padding-left: 20px;
        width: 100%;
        margin-left: 160px;
    }


    header {
        position: relative;
        display: var(--display-on-content);
        flex-direction: row;
        color: var(--headline-color-on-color);
        background-color: var(--paragraph-color-on-white);
        margin-bottom: 4px;
        width: 80%;
    }

    header nav li:hover {
        text-decoration: underline;
        color: blue;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bolder;
    }


    .navigation {
        display: flex;
        margin-left: 20px;
    }

    nav a {
        color: white;
        text-decoration: none;
        padding: 0 8px;
    }



    .zoj {
        margin-top: 2px;
        margin-left: 300px;
        color: white;
        text-align: center;
        width: 500px;
        font-size: larger;


    }

    .zoj :hover {
        border: 4px solid white;
        padding: 4px;
    }

    .zoj a {
        text-decoration: none;
    }

    .zoj h2 {
        color: #ebedef;
        font-size: 2rem;
    }

    .main-container {
        display: grid;
        grid-auto-flow: row;
        grid-template: 1fr/1fr 1fr;
        gap: 8px;
        background-color: #3f84c0;
        width: 650px;
        margin-left: 200px;

    }


    .lazyloading {
        grid-column: 1/2;
        grid-row: 1/2;
        width: 320px;
    }


    .lazyloading1 {
        grid-column: 2/3;
        grid-row: 1/2;
        width: 320px;
    }

    .main-container img {
        width: 100%;
        height: auto;
    }

    .main-container img:hover {
        box-shadow: 0 0 30px gold;
        transform: scaleX(-1);
    }

    main h2 {
        text-align: center;
    }

    footer {
        display: flex;
        padding-right: 15px;
        margin-right: -60px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-right: 15px;
        margin-left: -90px;
        width: 100%;
        margin-top: 20px;
        font-family: "Lobster&family";
    }

    p#lastUpdated {
        margin-left: -10px;

    }

    #currentYear {
        padding-right: 8px;
    }


    footer p {
        color: white;
        padding: 5px;
        font-family: "Playfair Display";
        font-size: 1rem;
    }

    footer img {
        width: 20px;
        height: auto;
    }


    #lastModified {
        color: white;
        padding-bottom: 10px;
    }







}