@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&display=swap');

:root {
    --primary-color: #1d2012;
    --secondary-color: #8eaa46;
    --accent1-color: #b3001b;
    --accent2-color: #3f84c0;
    --accent3-color: #ebedef;

    --heading-font: "Lobster&family";
    --paragraph-font: "Playfair+Display";
    --before-content-mode: "";


    --headline-color-on-white: #1d2012;
    --headline-color-on-color: #ebedef;
    --paragraph-color-on-white: #1d2012;
    --paragraph-color-on-color: #ebedef;
    --paragraph-background-color: #1d2012;
    --nav-link-color: #ebedef;
    --nav-background-color: #3f84c0;
    --nav-hover-link-color: #8eaa46;
    --nav-hover-background-color: #b3001b;

    --base-font-size: 16px;
    --line-height: 1.5;
    --spacing-unit: 8px;
    --padding: var(--spacing-unit);
    --margin: var(--spacing-unit);
    --border-width: 1px;
    --border-radius: 4px;
    --z-index-header: 100;
    --z-index-modal: 200;
    --transition-duration: 0.3s;
    --display-on-items: grid;
    --display-on-content: flex;



}

*Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;

}

header {
    background-color: var(--accent2-color);
    width: 100%;
    margin: 0 auto;
}

div.zionhero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

div#mode {
    margin-right: 30px;
    cursor: pointer;
    font-size: 2rem;
    background-color: #1d2012;
}

div#humburger {
    margin-top: -50px;
    margin-right: -39px;
    display: none;
    color: #ebedef;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

header nav ul li {
    text-decoration: none;
    margin: 0 40px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--headline-color-on-white);
    font-size: 1.3rem;
}

header nav ul li a:hover {
    color: var(--headline-color-on-color);
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 211, 255, 0.2);

}

header img {
    margin-right: 180px;
    position: relative;
    width: 200px;
    height: 150px;
    margin-top: 20%;
}

.zionhero h1 {
    margin-right: 180px;
    color: #ebedef;
}

header h1:hover {
    padding: 4px;
    color: var(--accent1-color);

}

.zoj a {
    text-decoration: none;
}

#main-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-flow: row;
    text-align: center;
    gap: 20px;
}


.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sidebar section {
    background-color: gray;
}


.image-container {
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;*/
    background-color: #1d2012;

}

.image-container h2,
.image-container p {
    color: #ebedef;
}

/*.containerimages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}*/

.containerimages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-flow: row;
    text-align: center;
    background-color: #ebedef;
    overflow-x: hidden;
}

.containerimages img {
    margin: 4px;
}


section img {
    width: 300px;
    margin-top: 6px;
    text-align: center;
}


section img:hover {
    transform: rotateY(150deg);
}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-right: 15px;
    background-color: #1d2012;
    color: #ebedef;
}

footer p {
    color: #1d2012;
    font-size: 1.1rem;
    color: var(--accent3-color);
}

p#lastUpdated {
    margin-left: 15px;
    font-size: 1.1rem;
    color: var(--accent3-color);

}

footer img {
    width: 40px;
    margin: 0 5px;
}


@media screen and (min-width:300px) and (max-width:769px) {

    *Body {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    body {
        margin: 0 1px;
    }

    div#mode {
        margin-right: 5px;
        font-size: 1.5rem;
    }

    div#humburger {
        display: block;
        margin-top: -70px;
        margin-right: -49px;
        font-size: 1.5rem;
    }

    div.zionhero {
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: center;
        align-items: center;
    }

    header nav ul li {
        margin: 0 5px;
    }

    header nav ul {
        list-style-type: none;
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }

    header nav {
        margin-left: 0;
    }

    header img {
        margin-right: 20px;
        position: relative;
        width: 60px;
        height: 100%;
    }

    .zionhero h1 {
        margin-right: 20px;
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
    }

    img {
        width: 20px;
        height: 30px;
    }

    section img {
        width: 350px;
        height: auto;
        margin-top: 6px;
        text-align: center;

    }

    section img:hover {
        transform: rotateY(150deg);
    }

    nav.humburger {
        position: absolute;
        text-decoration: none;
        display: none;
        cursor: pointer;
    }

    /*div#humburger {
        position: absolute;
        text-decoration: none;
        display: block;
        font-size: 40px;
        color: green;
        left: 12rem;
        bottom: 15rem;
        cursor: pointer;
        z-index: 999;
    }*/

    nav.show {
        display: block;
        top: 1rem;
        text-decoration: none;
        color: black;
        bottom: 29px;
    }


    header ul.show {
        display: block;
    }


    .navigation li {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-left: 4px;
        z-index: 999;
    }
}