@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Playfair+Display&display=swap');

:root {
    --primary-color: #1d2012;
    --secondary-color: #8eaa46;
    --accent1-color: #b3001b;
    --accent2-color: #3f84c0;
    --accent3-color: #ebedef;

    --heading-font: "Lobster&family";
    --paragraph-font: "Playfair+Display";
    --before-content-mode: "";


    --headline-color-on-white: #1d2012;
    --headline-color-on-color: #ebedef;
    --paragraph-color-on-white: #1d2012;
    --paragraph-color-on-color: #ebedef;
    --paragraph-background-color: #1d2012;
    --nav-link-color: #ebedef;
    --nav-background-color: #3f84c0;
    --nav-hover-link-color: #8eaa46;
    --nav-hover-background-color: #b3001b;

    --base-font-size: 16px;
    --line-height: 1.5;
    --spacing-unit: 8px;
    --padding: var(--spacing-unit);
    --margin: var(--spacing-unit);
    --border-width: 1px;
    --border-radius: 4px;
    --z-index-header: 100;
    --z-index-modal: 200;
    --transition-duration: 0.3s;
    --display-on-items: grid;
    --display-on-content: flex;



}

* body {
    box-sizing: border-box;
}

html {
    background-color: var(--accent3-color);
}

body {
    background-color: var(--headline-color-on-color);
    overflow-x: hidden;
    margin: 0 10px;
}

header {
    position: relative;
    display: var(--display-on-content);
    flex-direction: row;
    color: var(--headline-color-on-color);
    background-color: var(--paragraph-color-on-white);
    margin-bottom: 4px;
}

header nav li:hover {
    text-decoration: underline;
    color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
}


.navigation {
    margin-left: 20spx;
}

nav a {
    color: white;
    text-decoration: none;
}



.zoj {
    margin-top: 2px;
    margin-left: 300px;
    color: white;
    text-align: center;
    width: 500px;
    font-size: larger;

}

.zoj :hover {
    border: 4px solid white;
    padding: 4px;
}

.zoj a {
    text-decoration: none;
}

h1 {
    color: var(--headline-color-on-color);
}


h2,
div,
p,
label,
li {
    color: var(--headline-color-on-white);
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}